{% extends 'base.html.twig' %}

{% block body %}
    <h3>ERROR!</h3>
    Please, stop trying to fraud us. You already tried it {{ click.error }} times.
    {% if click.badDomain %}
    <br>
        <h2>Even more!</h2> You have bad ref, try better next time. See ya at google.com at 5 secs.
    <script>
        $(document).ready(function () {
            setTimeout( function getTheHellOutOfHere() {
                    window.location = 'http://google.com';
                },
                5000
            );
        });
    </script>
    {% endif %}
{% endblock %}