{% extends 'base.html.twig' %}

{% block body %}
    <h3>SUCCESS!</h3>
    Id click - {{ click.id }} <br>
    User agent - {{ click.ua }} <br>
    Referral - {{ click.ref }} <br>
    Ip - {{ click.ip }} <br>
    Param 1 - {{ click.param1 }} <br>
    Param 2 - {{ click.param2 }} <br>

{% endblock %}