{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/datatables.min.css') }}"/>
<script type="text/javascript" src="{{ asset('js/datatables.min.js') }}"></script>
    <a href="http://localhost/click/?param1=20&param2=33">Example link to get REF</a>
    <br><br><br>


    <h2>Clicks Table:</h2>
    <table id="click_table" class="display">
        <thead>
        <tr>
            <th>Click ID</th>
            <th>UA</th>
            <th>Ref</th>
            <th>IP</th>
            <th>Param1</th>
            <th>Param2</th>
            <th>Error</th>
            <th>Bad Domain</th>
        </tr>
        </thead>
        <tbody>
        {% for click in clicks %}
        <tr>
            <td>{{ click.id }}</td>
            <td>{{ click.ua }}</td>
            <td>{{ click.ref }}</td>
            <td>{{ click.ip }}</td>
            <td>{{ click.param1 }}</td>
            <td>{{ click.param2 }}</td>
            <td>{{ click.error }}</td>
            <td>{{ click.badDomain }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <h2>Bad Domains Managmanet:</h2>
    <form method="post" action="{{ path('add_bad_domain') }}">
        <input type="text" placeholder="google.com" name="name"> <button type="submit">Add bad domain</button>
    </form>
    <br><br><br>
    <h3>Domains Table:</h3>
    <table id="domain_table" class="display">
        <thead>
        <tr>
            <th>Domain ID</th>
            <th>NAME</th>
        </tr>
        </thead>
        <tbody>
        {% for domain in domains %}
            <tr>
                <td>{{ domain.id }}</td>
                <td>{{ domain.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready( function () {
            $('#click_table').DataTable();
            $('#domain_table').DataTable();
        } );
    </script>
{% endblock %}